main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 100%;
  padding: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.containerCenter {
align-items: center;
}

.item {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
}

.previousButton {
  width: 50px;
  height: 40px;
}

.pathDisplay {
  margin: 5px;
  padding: 4px 10px 4px 10px;
  max-width: 100%;
  flex: 1;
  background-color: red;
  border: 1px solid black;
  border-radius: 3px;
}

.divItem {
  height: 200px;
}

.divItem:hover {
  background-color: silver;
}